@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#latest, .albumbg
{
    background-color: #C2C2C2 !important;
}

body
{
    background-color: lightgrey;
}

.darkbg
{
    background-color: rgb(8, 0, 53);
    width: 100%;
}

.japanesetext
{
    font-family: 'Kosugi Maru', sans-serif !important;
}

h1, h2, h3, label, .memberinfo a
{
    font-family: 'Cabin', sans-serif;
}

p
{
    font-family: 'Nanum Gothic', sans-serif;
}

nav
{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 12px;
    padding-bottom: 12px;
}

.current_page
{
    color: lightblue;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
}

nav a
{
    color: white;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
}

a:link, a:visited, a:link:active, a:visited:active
{
    cursor: pointer;
    text-decoration: none;
}

header img
{
    height: auto;
    max-width: 100%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer
{
    display: flex;
    margin: auto;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 5%;
}

footer a
{
    padding-left: 25px;
}

h2
{
    padding-bottom: 10px;
}

.main
{
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
}

#main
{
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
}

#leftside
{
    padding-right: 60px;
}

aside div
{
    padding-bottom: 40px;
}

input
{
    font-size: 15px;
}

#latest
{
    padding: 20px;
    display: flex;
    border-radius: 10px;
}

#latest img
{
    max-height: 150px;
    padding-right: 20px;
}

#biotext
{
    padding-top: 40px;
    padding-bottom: 40px;
}

input[type=submit]
{
    background-color: lightsteelblue;
    border: none;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 3px 55px;
    text-decoration: none;
    cursor: pointer;
}

#members
{
    flex-wrap: wrap;
}

.member1, .member2
{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.member1 img, .member2 img
{
    width: 50%;
}

.memberinfo
{
    padding: 20px;
    max-width: 50%;
}

.memberinfo iframe
{
    max-width: 100%;
}


@media only screen and (max-width: 800px)
{
    nav
    {
        width: 90%;
    }

    .main
    {
        padding-left: 4%;
        padding-right: 4%;
        flex-direction: column;
    }

    #leftside
    {
        padding-right: 0px;
    }

    #latest img
    {
        padding-right: 10px;
    }

    footer
    {
        justify-content: space-evenly;
    }

    .member2
    {
        flex-wrap: wrap-reverse;
    }

    .member1 img, .member2 img
    {
        width: 100%;
        height: auto;
    }

    .memberinfo
    {
        padding: 20px;
        max-width: 100%;
    }

    .memberinfo iframe
    {
        max-width: 100%;
    }
}